In [34]:
import datetime
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

### Extract CSVs into DataFrames

### Player Week File

In [35]:
NBA_player_week_file = "Resources/NBA_player_of_the_week.csv"
NBA_player_week_df = pd.read_csv(NBA_player_week_file)
NBA_player_week_df.head()

,Active season,Player,Team,Conference,Date,Position,Height,Weight,Age,Draft Year,Seasons in league,Season,Season short,Real_value
0,0,Micheal Ray Richardson,New Jersey Nets,NaN,"Apr 14, 1985",PG,6-5,189,29,1978,6,1984-1985,1985,1.0
1,0,Derek Smith,Los Angeles Clippers,NaN,"Apr 7, 1985",SG,6-6,205,23,1982,2,1984-1985,1985,1.0
2,0,Calvin Natt,Denver Nuggets,NaN,"Apr 1, 1985",F,6-6,220,28,1979,5,1984-1985,1985,1.0
3,0,Kareem Abdul-Jabbar,Los Angeles Lakers,NaN,"Mar 24, 1985",C,7-2,225,37,1969,15,1984-1985,1985,1.0
4,0,Larry Bird,Boston Celtics,NaN,"Mar 17, 1985",SF,6-9,220,28,1978,5,1984-1985,1985,1.0

In [36]:
NBA_player_week_df.columns

Index(['Active season', 'Player', 'Team', 'Conference', 'Date', 'Position',
       'Height', 'Weight', 'Age', 'Draft Year', 'Seasons in league', 'Season',
       'Season short', 'Real_value'],
      dtype='object')

In [37]:
player_file = "Resources/player_data.csv"
player_data_df = pd.read_csv(player_file)
player_data_df.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

### Transform Player Week DataFrame

In [38]:
# Create a filtered dataframe from specific columns
new_NBA_player_week_df = NBA_player_week_df[["Player", "Age", "Height", "Real_value"]].copy()
new_NBA_player_week_df.head()

# # Rename the column headers
# premise_transformed = premise_transformed.rename(columns={"License Serial Number": "id",
#                                                           "Premises Name": "premise_name",
#                                                           "County ID Code": "county_id"})

# # Clean the data by dropping duplicates and setting the index
# premise_transformed.drop_duplicates("id", inplace=True)
# new_NBA_player_week_df["id"] = new_NBA_player_week_df.index

new_NBA_player_week_df.head()

                   Player  Age Height  Real_value
0  Micheal Ray Richardson   29    6-5         1.0
1             Derek Smith   23    6-6         1.0
2             Calvin Natt   28    6-6         1.0
3     Kareem Abdul-Jabbar   37    7-2         1.0
4              Larry Bird   28    6-9         1.0

### Transform Player Data DataFrame

In [39]:
# county_cols = ["ID", "County Name (Licensee)", "County ID Code", "License Count"]
# county_transformed = county_df[county_cols].copy()

# # Rename the column headers
# county_transformed = county_transformed.rename(columns={"ID": "id",
#                                                          "County Name (Licensee)": "county_name",
#                                                          "License Count": "license_count",
#                                                          "County ID Code": "county_id"})

# # Set index
# county_transformed.set_index("id", inplace=True)

# county_transformed.head()

### Create database connection

In [40]:
rds_connection_string = "root:Musica123!@127.0.0.1/NBA_ETL_Project_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [41]:
# Confirm tables
engine.table_names()

C:\Users\mbergamaschi\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

['player_data', 'player_week']

### Load DataFrames into database

In [46]:
new_NBA_player_week_df.to_sql(name='player_week', con=engine, if_exists='replace', index=False)

In [47]:
pd.read_sql_query('select * from player_week', con=engine).head()

                   Player  Age Height  Real_value
0  Micheal Ray Richardson   29    6-5         1.0
1             Derek Smith   23    6-6         1.0
2             Calvin Natt   28    6-6         1.0
3     Kareem Abdul-Jabbar   37    7-2         1.0
4              Larry Bird   28    6-9         1.0